/*  ID'S */

#board-container {
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
}

#xwins {
  font-size: 2em;
  margin-right: 160px;
}

#owins {
  font-size: 2em;
}


/*  CLASSES */

.square {
  /*border: black solid 1px;*/
  text-align: center;
  width: 10em;
  height: 10em;
  float: left;
}

[id*="0"],
[id*="1"],
[id*="2"],
[id*="3"],
[id*="4"],
[id*="5"] {
  border-bottom: 2px solid black;
}

[id*="0"],
[id*="3"],
[id*="6"],
[id*="1"],
[id*="4"],
[id*="7"] {
  border-right: 2px solid black;
}

.square:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.row {
  display: flex;
}

.score {
  font-size: 2em;
  text-align: center;
  display: inline-flex;
  padding: 0 10px 10px 0;
}

.x-image {
  background: url(../images/ximage.png) 50% 50% no-repeat;
  background-size: 95px 95px;
}

.o-image {
  background: url(../images/oimage.png) 50% 50% no-repeat;
  background-size: 95px 95px;
}

.score {
  font-size: 1.5em;
}


/*  ELEMENTS */

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

body {
  font-size: 10px;
}
