/*  ID'S */

#board-container {
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
}

#xwins {
  font-size: 2em;
}

#owins {
  font-size: 2em;
}


/*  CLASSES */

.square {
  border: black solid 1px;
  text-align: center;
  width: 10em;
  height: 10em;
  float: left;
}

.row {
  display: flex;
}

.score {
  font-size: 2em;
  text-align: center;
  display: flex;
}

.x-image {
  background: url(../images/ximage.png) 50% 50% no-repeat;
  background-size: 100%;
}

.o-image {
background: url(../images/oimage.png) 50% 50% no-repeat;
background-size: 100%;
}

.score {
  font-size: 1.5em;
}
/*  ELEMENTS */

h1 {
  text-align: center;
}

h2 {
  font-size: 2em;
}

body {
  font-size: 10px;
}

